.Section8 {
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: #0057bc;
  color: white !important;
}
.Section8 h2 {
  text-align: center;
  width: 100%;
  color: white;
}
.Section8 p {
  color: white;
  margin-bottom: 0;
  padding-left: 20px;
}
.Section8 .Indicator {
  background-color: white;
}
