.Section4 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 40px;
}
.Section4 .Top {
  padding-left: 30px;
  height: 20%;
  width: 100%;
}

.Section4 .Top p {
  width: 75%;
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
}
.Section4 .Bottom {
  width: 100%;
  height: 80%;
}
.GeneralRating {
  background-color: #f3f3f3;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  padding-bottom: 30px;
}
.GeneralRating .Left {
  width: fit-content;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.GeneralRating .Left .TotalRating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GeneralRating .Left .TotalRating img {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 5px;
}
.GeneralRating .logo {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.GeneralRating .logo span {
  font-weight: 500;
  font-size: 1.2rem;
}
.GeneralRating .logo img {
  margin-right: 10px;
  height: 100%;
}

.GeneralRating .Right {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;

  cursor: pointer;

  font-size: 1rem;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 160px !important;
}

.GeneralRating .Right:disabled {
  cursor: default;
}

.GeneralRating .Right:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

@media (max-width: 800px) {
  .Section4 .Top {
    padding-left: 30px;
  }
  .Section4 .Top p {
    width: 95%;
  }
  .GeneralRating .Left .TotalRating img {
    width: 10px;
  }
  .GeneralRating .Right {
    font-size: 1.2rem;
  }
}
