.Section9 {
  height: fit-content;
  padding-bottom: 20px;
}
.Section9 h2 {
  text-align: center;
  margin-bottom: 40px;
  padding: 10px 20px;
  color: var(--text);
}
.Skill-wrapper {
  width: 80%;
  margin: auto;
  height: 85%;
}
.Swiper-cards {
  min-height: 300px;
}
.Section9 .swiper-pagination {
  bottom: -3px;
}
